# Archivos temporales de scripts
proevent-backend1/fix_*.js
proevent-backend1/test_smtp.js

# Archivos subidos por usuarios durante pruebas
proevent-backend1/uploads/*
!proevent-backend1/uploads/.gitkeep

# Archivos ambientales locales
proevent-frontend1/.env

# Imágenes redundantes
proevent-frontend1/src/pages/img/logo-proevent.jpg.jpeg
