-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: uapa_proevent
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad_cronograma`
--

DROP TABLE IF EXISTS `actividad_cronograma`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actividad_cronograma` (
  `id_actividad` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `nombre_actividad` varchar(255) NOT NULL,
  `id_usuario_responsable` int(11) DEFAULT NULL,
  `fecha_cumplimiento` date NOT NULL,
  `estado` enum('Pendiente','En progreso','Completada','Retrasada') DEFAULT 'Pendiente',
  `fecha_creacion` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_actividad`),
  KEY `id_evento` (`id_evento`),
  KEY `id_usuario_responsable` (`id_usuario_responsable`),
  CONSTRAINT `actividad_cronograma_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE,
  CONSTRAINT `actividad_cronograma_ibfk_2` FOREIGN KEY (`id_usuario_responsable`) REFERENCES `usuario` (`id_usuario`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividad_cronograma`
--

LOCK TABLES `actividad_cronograma` WRITE;
/*!40000 ALTER TABLE `actividad_cronograma` DISABLE KEYS */;
INSERT INTO `actividad_cronograma` VALUES (1,149,'Recoger las sillas, organizarla y entregarlas ',27,'2026-06-05','Completada','2026-06-04 02:47:53'),(2,148,'ordenar la mesa ',27,'2026-06-14','Pendiente','2026-06-04 02:51:10');
/*!40000 ALTER TABLE `actividad_cronograma` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alimento`
--

DROP TABLE IF EXISTS `alimento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alimento` (
  `id_alimento` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`id_alimento`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alimento`
--

LOCK TABLES `alimento` WRITE;
/*!40000 ALTER TABLE `alimento` DISABLE KEYS */;
INSERT INTO `alimento` VALUES (1,'Desayuno'),(2,'Coffee Break'),(3,'Buffet-Almuerzo'),(5,'Refigerio ');
/*!40000 ALTER TABLE `alimento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `analisis_ia_comparativo`
--

DROP TABLE IF EXISTS `analisis_ia_comparativo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `analisis_ia_comparativo` (
  `id_analisis` int(11) NOT NULL AUTO_INCREMENT,
  `id_solicitud` int(11) NOT NULL,
  `proveedor_recomendado_id` int(11) DEFAULT NULL,
  `justificacion_ia` text DEFAULT NULL,
  `matriz_comparativa_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`matriz_comparativa_json`)),
  `fecha_analisis` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_analisis`),
  UNIQUE KEY `id_solicitud` (`id_solicitud`),
  KEY `proveedor_recomendado_id` (`proveedor_recomendado_id`),
  CONSTRAINT `analisis_ia_comparativo_ibfk_1` FOREIGN KEY (`id_solicitud`) REFERENCES `solicitud_cotizacion` (`id_solicitud`) ON DELETE CASCADE,
  CONSTRAINT `analisis_ia_comparativo_ibfk_2` FOREIGN KEY (`proveedor_recomendado_id`) REFERENCES `proveedor_externo` (`id_proveedor`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `analisis_ia_comparativo`
--

LOCK TABLES `analisis_ia_comparativo` WRITE;
/*!40000 ALTER TABLE `analisis_ia_comparativo` DISABLE KEYS */;
/*!40000 ALTER TABLE `analisis_ia_comparativo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bitacora_movimiento`
--

DROP TABLE IF EXISTS `bitacora_movimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bitacora_movimiento` (
  `id_bitacora` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `id_rol` int(11) NOT NULL,
  `accion` varchar(150) NOT NULL,
  `detalles` text DEFAULT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_bitacora`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_rol` (`id_rol`),
  CONSTRAINT `bitacora_movimiento_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `bitacora_movimiento_ibfk_2` FOREIGN KEY (`id_rol`) REFERENCES `rol` (`id_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=522 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bitacora_movimiento`
--

LOCK TABLES `bitacora_movimiento` WRITE;
/*!40000 ALTER TABLE `bitacora_movimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `bitacora_movimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cotizacion_recibida`
--

DROP TABLE IF EXISTS `cotizacion_recibida`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cotizacion_recibida` (
  `id_cotizacion` int(11) NOT NULL AUTO_INCREMENT,
  `id_solicitud` int(11) NOT NULL,
  `id_proveedor` int(11) NOT NULL,
  `moneda` enum('DOP','USD','EUR') DEFAULT 'DOP',
  `fecha_vigencia` date NOT NULL,
  `comentarios` text DEFAULT NULL,
  `ruta_documento_pdf` varchar(500) NOT NULL,
  `monto_total_detectado` decimal(10,2) DEFAULT NULL,
  `estado` enum('Subida','Evaluada','Seleccionada','Rechazada') DEFAULT 'Subida',
  `fecha_subida` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_cotizacion`),
  KEY `id_solicitud` (`id_solicitud`),
  KEY `id_proveedor` (`id_proveedor`),
  CONSTRAINT `cotizacion_recibida_ibfk_1` FOREIGN KEY (`id_solicitud`) REFERENCES `solicitud_cotizacion` (`id_solicitud`) ON DELETE CASCADE,
  CONSTRAINT `cotizacion_recibida_ibfk_2` FOREIGN KEY (`id_proveedor`) REFERENCES `proveedor_externo` (`id_proveedor`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cotizacion_recibida`
--

LOCK TABLES `cotizacion_recibida` WRITE;
/*!40000 ALTER TABLE `cotizacion_recibida` DISABLE KEYS */;
/*!40000 ALTER TABLE `cotizacion_recibida` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dependencia`
--

DROP TABLE IF EXISTS `dependencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dependencia` (
  `id_dependencia` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `responsable` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_dependencia`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dependencia`
--

LOCK TABLES `dependencia` WRITE;
/*!40000 ALTER TABLE `dependencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `dependencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_corporativo`
--

DROP TABLE IF EXISTS `detalle_corporativo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalle_corporativo` (
  `id_detalle_corporativo` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `tipo` enum('Bultos','T-shirt','Editoriales UAPA','Lapiceros','Llaveros','Vasos','Libreta','Otros','No aplica') NOT NULL,
  `descripcion_otro` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_detalle_corporativo`),
  KEY `id_evento` (`id_evento`),
  CONSTRAINT `detalle_corporativo_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_corporativo`
--

LOCK TABLES `detalle_corporativo` WRITE;
/*!40000 ALTER TABLE `detalle_corporativo` DISABLE KEYS */;
INSERT INTO `detalle_corporativo` VALUES (24,138,'No aplica',NULL),(29,145,'Otros',NULL),(30,146,'Otros',NULL),(31,147,'Otros',NULL),(32,148,'No aplica',NULL),(33,149,'No aplica',NULL);
/*!40000 ALTER TABLE `detalle_corporativo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_montaje`
--

DROP TABLE IF EXISTS `detalle_montaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalle_montaje` (
  `id_detalle_montaje` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `descripcion` text NOT NULL,
  PRIMARY KEY (`id_detalle_montaje`),
  KEY `id_evento` (`id_evento`),
  CONSTRAINT `detalle_montaje_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_montaje`
--

LOCK TABLES `detalle_montaje` WRITE;
/*!40000 ALTER TABLE `detalle_montaje` DISABLE KEYS */;
INSERT INTO `detalle_montaje` VALUES (18,136,'prueba sistema'),(24,139,'Pruebas de video'),(26,138,'Pruebas de video'),(29,135,'probar ver detalles '),(30,134,'prueba '),(34,145,'Prueba 4'),(35,146,'Prueba 4'),(36,147,'Prueba 4'),(37,148,'Prueba 5'),(38,149,'Prueba 5');
/*!40000 ALTER TABLE `detalle_montaje` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_presupuesto`
--

DROP TABLE IF EXISTS `detalle_presupuesto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalle_presupuesto` (
  `id_detalle` int(11) NOT NULL AUTO_INCREMENT,
  `id_presupuesto` int(11) NOT NULL,
  `concepto` varchar(150) DEFAULT NULL,
  `proveedor` varchar(150) DEFAULT NULL,
  `cantidad` int(11) DEFAULT NULL,
  `precio_unitario` decimal(12,2) DEFAULT NULL,
  `subtotal` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`id_detalle`),
  KEY `id_presupuesto` (`id_presupuesto`),
  CONSTRAINT `detalle_presupuesto_ibfk_1` FOREIGN KEY (`id_presupuesto`) REFERENCES `presupuesto` (`id_presupuesto`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_presupuesto`
--

LOCK TABLES `detalle_presupuesto` WRITE;
/*!40000 ALTER TABLE `detalle_presupuesto` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_presupuesto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documento_evento`
--

DROP TABLE IF EXISTS `documento_evento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documento_evento` (
  `id_documento` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `tipo_documento` enum('Cotizaci├│n','Certificaci├│n Presupuestaria','Orden de Compra','Contrato','Factura','Otro') NOT NULL,
  `nombre_archivo` varchar(255) NOT NULL,
  `ruta_archivo` varchar(500) NOT NULL,
  `id_usuario_subio` int(11) DEFAULT NULL,
  `estado` enum('Activo','Archivado') DEFAULT 'Activo',
  `fecha_subida` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_documento`),
  KEY `id_evento` (`id_evento`),
  KEY `id_usuario_subio` (`id_usuario_subio`),
  CONSTRAINT `documento_evento_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE,
  CONSTRAINT `documento_evento_ibfk_2` FOREIGN KEY (`id_usuario_subio`) REFERENCES `usuario` (`id_usuario`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documento_evento`
--

LOCK TABLES `documento_evento` WRITE;
/*!40000 ALTER TABLE `documento_evento` DISABLE KEYS */;
/*!40000 ALTER TABLE `documento_evento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipo_audiovisual`
--

DROP TABLE IF EXISTS `equipo_audiovisual`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipo_audiovisual` (
  `id_equipo` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `icono` varchar(50) DEFAULT 'FiMonitor',
  `cantidad_total` int(11) DEFAULT 0,
  PRIMARY KEY (`id_equipo`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipo_audiovisual`
--

LOCK TABLES `equipo_audiovisual` WRITE;
/*!40000 ALTER TABLE `equipo_audiovisual` DISABLE KEYS */;
INSERT INTO `equipo_audiovisual` VALUES (1,'Proyector','FiMonitor',30),(2,'Sistema de sonido','FiSpeaker',20),(3,'Micr├│fonos','FiMic',30),(4,'C├ímaras (Grabaci├│n)','FiVideo',20),(5,'Transmisi├│n en vivo','FiRadio',20),(6,'Iluminaci├│n','FiSun',20),(7,'Pantallas o monitores extras','FiCast',20),(8,'Camara de alta velocidad ','FiVideo',30);
/*!40000 ALTER TABLE `equipo_audiovisual` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluacion`
--

DROP TABLE IF EXISTS `evaluacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluacion` (
  `id_evaluacion` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `respuesta_solicitud` enum('Si','No') DEFAULT NULL,
  `recinto` enum('Cibao Oriental','Nagua','Santo Domingo Oriental','Santiago') DEFAULT NULL,
  `valoracion_respuesta` enum('Muy eficiente','Excelente','Eficiente','Deficiente') DEFAULT NULL,
  `satisfaccion` int(11) DEFAULT NULL CHECK (`satisfaccion` between 1 and 5),
  `comentario` text DEFAULT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_evaluacion`),
  KEY `id_evento` (`id_evento`),
  CONSTRAINT `evaluacion_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluacion`
--

LOCK TABLES `evaluacion` WRITE;
/*!40000 ALTER TABLE `evaluacion` DISABLE KEYS */;
INSERT INTO `evaluacion` VALUES (2,136,'Si','Santiago','Excelente',4,'muy buena experiencia ','2026-03-21 19:01:18'),(3,135,'Si','Santiago','Excelente',5,'prueba satifatoria ','2026-03-22 14:07:53'),(5,139,'Si','Santiago','Muy eficiente',4,'Prueba de evento','2026-03-22 14:40:32'),(6,147,'Si','Santiago','Excelente',4,'Pruebas video 4','2026-03-27 23:56:59'),(7,149,'Si','Santiago','Excelente',5,'Prueba 5 bien','2026-03-29 17:26:45');
/*!40000 ALTER TABLE `evaluacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evento`
--

DROP TABLE IF EXISTS `evento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evento` (
  `id_evento` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `modalidad` enum('Virtual','Presencial','Hibrido') NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `cantidad_asistentes` int(11) NOT NULL,
  `tipo_evento` varchar(100) NOT NULL,
  `monto_poa` decimal(15,2) DEFAULT NULL,
  `moneda` enum('USD','EUR','DOP') DEFAULT NULL,
  `estado` enum('Pendiente','Aprobado','Rechazado','Finalizado') DEFAULT 'Pendiente',
  `id_usuario` int(11) NOT NULL,
  `id_dependencia` int(11) NOT NULL,
  `id_recinto` int(11) NOT NULL,
  `fecha_creacion` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_evento`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_dependencia` (`id_dependencia`),
  KEY `id_recinto` (`id_recinto`),
  CONSTRAINT `evento_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `evento_ibfk_2` FOREIGN KEY (`id_dependencia`) REFERENCES `dependencia` (`id_dependencia`),
  CONSTRAINT `evento_ibfk_3` FOREIGN KEY (`id_recinto`) REFERENCES `recinto` (`id_recinto`)
) ENGINE=InnoDB AUTO_INCREMENT=150 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evento`
--

LOCK TABLES `evento` WRITE;
/*!40000 ALTER TABLE `evento` DISABLE KEYS */;
/*!40000 ALTER TABLE `evento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evento_alimento`
--

DROP TABLE IF EXISTS `evento_alimento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evento_alimento` (
  `id_evento` int(11) NOT NULL,
  `id_alimento` int(11) NOT NULL,
  PRIMARY KEY (`id_evento`,`id_alimento`),
  KEY `evento_alimento_ibfk_2` (`id_alimento`),
  CONSTRAINT `evento_alimento_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE,
  CONSTRAINT `evento_alimento_ibfk_2` FOREIGN KEY (`id_alimento`) REFERENCES `alimento` (`id_alimento`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evento_alimento`
--

LOCK TABLES `evento_alimento` WRITE;
/*!40000 ALTER TABLE `evento_alimento` DISABLE KEYS */;
INSERT INTO `evento_alimento` VALUES (136,2),(138,2);
/*!40000 ALTER TABLE `evento_alimento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evento_organizador`
--

DROP TABLE IF EXISTS `evento_organizador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evento_organizador` (
  `id_evento_org` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `rol_organizacion` enum('Responsable','Coordinador','Apoyo') NOT NULL,
  PRIMARY KEY (`id_evento_org`),
  KEY `id_evento` (`id_evento`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `evento_organizador_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE,
  CONSTRAINT `evento_organizador_ibfk_2` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evento_organizador`
--

LOCK TABLES `evento_organizador` WRITE;
/*!40000 ALTER TABLE `evento_organizador` DISABLE KEYS */;
INSERT INTO `evento_organizador` VALUES (1,135,24,'Coordinador'),(2,136,24,'Coordinador'),(3,135,24,'Coordinador'),(4,135,12,'Coordinador'),(5,135,1,'Coordinador'),(13,149,1,'Coordinador');
/*!40000 ALTER TABLE `evento_organizador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flujo_aprobacion_legal`
--

DROP TABLE IF EXISTS `flujo_aprobacion_legal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flujo_aprobacion_legal` (
  `id_flujo_legal` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `estado_legal` enum('Pendiente','En revisi├│n','Observado','Aprobado','Rechazado') DEFAULT 'Pendiente',
  `observacion_legal` text DEFAULT NULL,
  `id_usuario_revisor` int(11) DEFAULT NULL,
  `fecha_actualizacion` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_flujo_legal`),
  UNIQUE KEY `id_evento` (`id_evento`),
  KEY `id_usuario_revisor` (`id_usuario_revisor`),
  CONSTRAINT `flujo_aprobacion_legal_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE,
  CONSTRAINT `flujo_aprobacion_legal_ibfk_2` FOREIGN KEY (`id_usuario_revisor`) REFERENCES `usuario` (`id_usuario`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flujo_aprobacion_legal`
--

LOCK TABLES `flujo_aprobacion_legal` WRITE;
/*!40000 ALTER TABLE `flujo_aprobacion_legal` DISABLE KEYS */;
/*!40000 ALTER TABLE `flujo_aprobacion_legal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poa_fiscal`
--

DROP TABLE IF EXISTS `poa_fiscal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `poa_fiscal` (
  `id_poa` int(11) NOT NULL AUTO_INCREMENT,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `monto_total` decimal(15,2) NOT NULL,
  `monto_disponible` decimal(15,2) NOT NULL,
  `creado_por` int(11) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_poa`),
  KEY `creado_por` (`creado_por`),
  CONSTRAINT `poa_fiscal_ibfk_1` FOREIGN KEY (`creado_por`) REFERENCES `usuario` (`id_usuario`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poa_fiscal`
--

LOCK TABLES `poa_fiscal` WRITE;
/*!40000 ALTER TABLE `poa_fiscal` DISABLE KEYS */;
INSERT INTO `poa_fiscal` VALUES (2,'2026-03-01','2027-02-28',4000000.07,2669686.13,25,'2026-03-21 17:34:04');
/*!40000 ALTER TABLE `poa_fiscal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poa_movimiento`
--

DROP TABLE IF EXISTS `poa_movimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `poa_movimiento` (
  `id_movimiento` int(11) NOT NULL AUTO_INCREMENT,
  `id_poa` int(11) NOT NULL,
  `id_evento` int(11) NOT NULL,
  `monto_solicitado_original` decimal(15,2) NOT NULL,
  `moneda_original` varchar(10) NOT NULL,
  `tasa_cambio` decimal(10,4) NOT NULL,
  `monto_descontado_dop` decimal(15,2) NOT NULL,
  `estado` enum('Pendiente','Aprobado','Rechazado') DEFAULT 'Pendiente',
  `motivo_rechazo` text DEFAULT NULL,
  `fecha_movimiento` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_movimiento`),
  KEY `id_poa` (`id_poa`),
  KEY `id_evento` (`id_evento`),
  CONSTRAINT `poa_movimiento_ibfk_1` FOREIGN KEY (`id_poa`) REFERENCES `poa_fiscal` (`id_poa`) ON DELETE CASCADE,
  CONSTRAINT `poa_movimiento_ibfk_2` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poa_movimiento`
--

LOCK TABLES `poa_movimiento` WRITE;
/*!40000 ALTER TABLE `poa_movimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `poa_movimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presupuesto`
--

DROP TABLE IF EXISTS `presupuesto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `presupuesto` (
  `id_presupuesto` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `total` decimal(15,2) NOT NULL,
  `estado` enum('Pendiente','Aprobado','Rechazado') DEFAULT 'Pendiente',
  `fecha_creacion` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_presupuesto`),
  KEY `id_evento` (`id_evento`),
  CONSTRAINT `presupuesto_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presupuesto`
--

LOCK TABLES `presupuesto` WRITE;
/*!40000 ALTER TABLE `presupuesto` DISABLE KEYS */;
/*!40000 ALTER TABLE `presupuesto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedor_externo`
--

DROP TABLE IF EXISTS `proveedor_externo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proveedor_externo` (
  `id_proveedor` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_empresa` varchar(255) NOT NULL,
  `rnc_cedula` varchar(50) NOT NULL,
  `id_tipo_servicio` int(11) NOT NULL,
  `persona_contacto` varchar(255) DEFAULT NULL,
  `correo` varchar(255) NOT NULL,
  `telefono` varchar(50) DEFAULT NULL,
  `contrasena_hash` varchar(255) NOT NULL,
  `estado` enum('Activo','Inactivo','Suspendido') DEFAULT 'Activo',
  `fecha_registro` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_proveedor`),
  UNIQUE KEY `rnc_cedula` (`rnc_cedula`),
  UNIQUE KEY `correo` (`correo`),
  KEY `id_tipo_servicio` (`id_tipo_servicio`),
  CONSTRAINT `proveedor_externo_ibfk_1` FOREIGN KEY (`id_tipo_servicio`) REFERENCES `tipo_servicio_externo` (`id_tipo_servicio`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedor_externo`
--

LOCK TABLES `proveedor_externo` WRITE;
/*!40000 ALTER TABLE `proveedor_externo` DISABLE KEYS */;
INSERT INTO `proveedor_externo` VALUES (1,'Soluciones Diaz','031',2,'Vicente ','Soluciones.diaz.y.asociados@gmail.com','8097817213','$2b$10$Djfs6XMCybPIwTWwM7NZgOatiUbkMtB70vmmIfwSI9aGEqeuev5PG','Activo','2026-05-26 22:40:43');
/*!40000 ALTER TABLE `proveedor_externo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recinto`
--

DROP TABLE IF EXISTS `recinto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recinto` (
  `id_recinto` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`id_recinto`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recinto`
--

LOCK TABLES `recinto` WRITE;
/*!40000 ALTER TABLE `recinto` DISABLE KEYS */;
INSERT INTO `recinto` VALUES (1,'Cibao Oriental'),(2,'Nagua'),(3,'Santo Domingo Oriental'),(4,'Santiago'),(5,'Estados Unidos'),(6,'Neyba'),(7,'San Juan'),(8,'Hig├╝ey'),(9,'Pedernales');
/*!40000 ALTER TABLE `recinto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `restablecimiento_token`
--

DROP TABLE IF EXISTS `restablecimiento_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `restablecimiento_token` (
  `id_token` int(11) NOT NULL AUTO_INCREMENT,
  `correo` varchar(120) NOT NULL,
  `token` varchar(255) NOT NULL,
  `expiracion` datetime NOT NULL,
  PRIMARY KEY (`id_token`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `restablecimiento_token`
--

LOCK TABLES `restablecimiento_token` WRITE;
/*!40000 ALTER TABLE `restablecimiento_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `restablecimiento_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol` (
  `id_rol` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`id_rol`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES (1,'Administrador'),(4,'Administrador de Audiovisual'),(5,'Administrador de Evento'),(7,'Administrador V-A-F'),(8,'Personal de Apoyo'),(3,'Solicitante');
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicio_audiovisual`
--

DROP TABLE IF EXISTS `servicio_audiovisual`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servicio_audiovisual` (
  `id_servicio` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `tipo_servicio` varchar(150) NOT NULL,
  `estado` enum('Pendiente','Aprobado','Rechazado') DEFAULT 'Pendiente',
  `cantidad` int(11) DEFAULT 1,
  `ubicacion` varchar(255) DEFAULT '',
  `observaciones` text DEFAULT NULL,
  PRIMARY KEY (`id_servicio`),
  KEY `id_evento` (`id_evento`),
  CONSTRAINT `servicio_audiovisual_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio_audiovisual`
--

LOCK TABLES `servicio_audiovisual` WRITE;
/*!40000 ALTER TABLE `servicio_audiovisual` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicio_audiovisual` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicio_externo`
--

DROP TABLE IF EXISTS `servicio_externo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servicio_externo` (
  `id_servicio_ext` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `id_tipo_servicio` int(11) NOT NULL,
  `estado` enum('Pendiente','En revisi├│n','Aprobado','Rechazado','Completado') DEFAULT 'Pendiente',
  `detalles` text DEFAULT NULL,
  `cantidad` int(11) DEFAULT 1,
  `fecha_solicitud` datetime DEFAULT current_timestamp(),
  `fecha_envio_proveedor` datetime DEFAULT NULL,
  `fecha_recepcion` datetime DEFAULT NULL,
  `estado_recepcion` enum('Pendiente','Recibido','Con Incidencias') DEFAULT 'Pendiente',
  `incidencias` text DEFAULT NULL,
  `estado_pago` enum('Pendiente','En revisi├│n','Procesado','Completado') DEFAULT 'Pendiente',
  PRIMARY KEY (`id_servicio_ext`),
  KEY `id_evento` (`id_evento`),
  KEY `id_tipo_servicio` (`id_tipo_servicio`),
  CONSTRAINT `servicio_externo_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE,
  CONSTRAINT `servicio_externo_ibfk_2` FOREIGN KEY (`id_tipo_servicio`) REFERENCES `tipo_servicio_externo` (`id_tipo_servicio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio_externo`
--

LOCK TABLES `servicio_externo` WRITE;
/*!40000 ALTER TABLE `servicio_externo` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicio_externo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitud_cotizacion`
--

DROP TABLE IF EXISTS `solicitud_cotizacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `solicitud_cotizacion` (
  `id_solicitud` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `id_tipo_servicio` int(11) NOT NULL,
  `descripcion_requerimientos` text DEFAULT NULL,
  `fecha_limite` datetime NOT NULL,
  `estado` enum('Abierta','Cerrada','Adjudicada') DEFAULT 'Abierta',
  `fecha_creacion` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_solicitud`),
  KEY `id_evento` (`id_evento`),
  KEY `id_tipo_servicio` (`id_tipo_servicio`),
  CONSTRAINT `solicitud_cotizacion_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `evento` (`id_evento`) ON DELETE CASCADE,
  CONSTRAINT `solicitud_cotizacion_ibfk_2` FOREIGN KEY (`id_tipo_servicio`) REFERENCES `tipo_servicio_externo` (`id_tipo_servicio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitud_cotizacion`
--

LOCK TABLES `solicitud_cotizacion` WRITE;
/*!40000 ALTER TABLE `solicitud_cotizacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `solicitud_cotizacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_detalle_corporativo`
--

DROP TABLE IF EXISTS `tipo_detalle_corporativo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_detalle_corporativo` (
  `id_detalle_corp` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  PRIMARY KEY (`id_detalle_corp`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_detalle_corporativo`
--

LOCK TABLES `tipo_detalle_corporativo` WRITE;
/*!40000 ALTER TABLE `tipo_detalle_corporativo` DISABLE KEYS */;
INSERT INTO `tipo_detalle_corporativo` VALUES (1,'Bultos, T-shert'),(2,'Editoriales UAPA (libros)'),(3,'Lapiceros'),(6,'Libreta'),(4,'Llaveros'),(8,'No aplica'),(7,'Otros'),(5,'Vasos');
/*!40000 ALTER TABLE `tipo_detalle_corporativo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_evento_master`
--

DROP TABLE IF EXISTS `tipo_evento_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_evento_master` (
  `id_tipo_evento` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  PRIMARY KEY (`id_tipo_evento`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_evento_master`
--

LOCK TABLES `tipo_evento_master` WRITE;
/*!40000 ALTER TABLE `tipo_evento_master` DISABLE KEYS */;
INSERT INTO `tipo_evento_master` VALUES (7,'Conferencia magistral'),(6,'Congreso internacional'),(2,'Curso taller pr∩┐╜ctico'),(8,'Evento curso cultural'),(10,'Feria universitaria'),(4,'Firma de convenio'),(9,'Jornada de investigaci├│n'),(1,'Reuni∩┐╜n'),(13,'Reuni∩┐╜n de cuentas'),(5,'Seminario acad∩┐╜mico'),(14,'Visitas guiada de colegio');
/*!40000 ALTER TABLE `tipo_evento_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_servicio_externo`
--

DROP TABLE IF EXISTS `tipo_servicio_externo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_servicio_externo` (
  `id_tipo_servicio` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `clasificacion` enum('Corriente','Especializado') DEFAULT 'Corriente',
  `estado` enum('Activo','Inactivo') DEFAULT 'Activo',
  PRIMARY KEY (`id_tipo_servicio`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_servicio_externo`
--

LOCK TABLES `tipo_servicio_externo` WRITE;
/*!40000 ALTER TABLE `tipo_servicio_externo` DISABLE KEYS */;
INSERT INTO `tipo_servicio_externo` VALUES (1,'Sonido','Corriente','Activo'),(2,'Decoraci├│n','Corriente','Activo'),(3,'Catering','Corriente','Activo'),(4,'Transporte','Corriente','Activo'),(5,'Log├¡stica','Corriente','Activo'),(6,'Seguridad','Especializado','Activo'),(7,'Protocolo','Especializado','Activo');
/*!40000 ALTER TABLE `tipo_servicio_externo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `correo` varchar(120) NOT NULL,
  `contrasena` varchar(255) NOT NULL,
  `id_rol` int(11) NOT NULL,
  `estado` enum('activo','inactivo') DEFAULT 'activo',
  `token_acceso_rapido` varchar(255) DEFAULT NULL,
  `ultimo_login` datetime DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `correo` (`correo`),
  KEY `id_rol` (`id_rol`),
  CONSTRAINT `usuario_ibfk_1` FOREIGN KEY (`id_rol`) REFERENCES `rol` (`id_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-04 14:58:56
